.heroSwiper{
   width: 100%;
   overflow: hidden;
   background-color: rgb(244, 242, 238)
}
.heroSwiper .image{
   justify-content: space-evenly !important;
   margin-top: 65px;
}
.image img{
   border-radius: 7px;
   box-shadow: 0 12px 36px #000000bd;
}

.title-content h3{
   color: var(--blue);
   font-size: 50px;
}
.title-content p{
   color: var(--babyblue);
   text-transform: capitalize;
   font-size: 18px;
}
.title-content span{
   font-weight: bold;
   color: var(--blue);
   font-size: 20px;
   margin-right: 10px;
}

@media screen and (max-width: 767px) { 
 .image{
   justify-content: center !important;
 }

}
@media screen and (max-width: 687px) {
   
   .image img{
      order: -1;
      width: 250px;
    }
    .title-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    .heroSwiper .image{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
   
}
@media screen and (max-width: 340px){
   .image img{
      width: 180px;
    }

}

.swiper-button-prev, .swiper-button-next{
   color: var(--babyblue);
   font-size: 10px !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
   bottom: 24px;
}
@media screen and (max-width: 562px){
   .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
      bottom: 0;
   }
}
.swiper-pagination-bullet-active {
   background-color: var(--babyblue);
}
