.contact-us {
    background-color: var(--bgColor);
    padding: 10rem;
    
}
@media screen and (max-width :619px) {
    .contact-us {
        padding: 10rem 2rem;
    }

    Form .form-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: Start;
    }
}

.contact-us h1,
p {
    color: var(--blue);
}

Form label {
    color: var(--blue);
}

Form #email,
#message {
    all: unset;
    background-color: #7dd0d842;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    transition: 0.3s ease;
    font-size: 1.1rem;
}

Form #email:focus,
#message:focus {
    border: 1px solid #3e516f3b;

}

Form #email:hover,
#message:hover {
    border: 1px solid #3e516f3b;

}

Form #email:focus,
#message:focus {
    border: 1px solid #3e516f3b;

}

Form #message {
    min-height: 5rem;
    resize: vertical;
}

Form .btnsubmit {
    padding: 5px 15px;
    border-radius: 7px;
    margin-top: 2rem;
    border: 1px solid #3e516f75;
    background-color: rgb(244, 242, 238);
    /* color: rgb(156 155 153); */
    color: var(--blue);
    /*blue */
    transition: 0.3s;
    text-decoration: none;

}